{% extends "layout.html" %}
{% block content %}

Murilo:
{% for result in mJogador %}
{% for item in result %}

<td><img id={{item}} src="static/img/cards/{{item}}.png" height="200" width="100"></td>

  {% endfor %}
  {% endfor %}


</br></br></br></br>
Máquina:
<td><img id={{mPC[0]}} src="static/img/cards/{{mPC[0]}}.png" height="200" width="100"></td>

</br>

<form method="POST">

  <button type="submit" class="btn btn-primary">Comprar</button>
  <a href="{{ url_for('resultado') }}" class="btn btn-info" role="button">Finalizar</a>
</form>

{% endblock %}
